* { box-sizing: border-box; }


html { overflow-y: scroll; }

body { font-family: sans-serif; }

/* --- header -- */

a {
  color: #000;
}

/* ---- grid ---- */

.grid {
  background: #fff;

}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  /* width: 33.333%; */
  width: 33.333%
}

.grid-item {
  float: left;
  padding:5px;

}

.grid-item img {
  display: block;
  max-width: 100%;

}

.caption{
font-size: 12px;
}
